@import './mixins.scss'; 

.nav {
  grid-area: n;
  background-color: #282c34;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  color: rgb(150, 137, 137);
}

.nav__link {
  display: block;
  padding: 5px 20px;
  box-shadow: 0px 1px 2px -1px whitesmoke;

  @include hover {
    color: whitesmoke;
    font-weight: 700;
  }
}
.nav__link--active {
    color: whitesmoke;
    font-weight: 700;
}


.nav__back {
  flex: 100%;
  align-self: center;
  width: 50%;
  height: 50%;
  display: none;
}

@media screen and (max-width: 768px) {
  .nav__link--active {
    box-shadow: none;
  }
  .nav__link {
    box-shadow: none;
    border-bottom: 0;
  }
  .nav__back {
    display: inline;
  }
}

#toggler, #toggler-input {
  display: none;
}

@media screen and (max-width: 768px) {
    
  @keyframes rightbarel {
      0% {
          transform: rotate(0deg);
      }
      100% {
          transform: rotate(360deg);
      }
  }

  @keyframes leftbarel {
      0% {
          transform: rotate(0deg);
      }
      100% {
          transform: rotate(-360deg);
      }
  }
  
  #toggler {
      display: block;
      position: fixed;
      z-index: 101;
      right: 15px;
      width: 42px;
      height: 42px;
  }

  #toggler-input:checked ~ #toggler {
      position: fixed;

      animation-name: rightbarel;
      animation-duration: 1s;
      animation-fill-mode: forwards;
      animation-iteration-count: 1;
  }

  .leftbar {
      animation-name: leftbarel;
      animation-duration: 1s;
      animation-fill-mode: forwards;
      animation-iteration-count: 1;
  }

  #toggler-input:hover:not(:checked) ~ #toggler {
      position: fixed;

      animation-name: leftbarel;
      animation-duration: 1s;
      animation-fill-mode: forwards;
      animation-iteration-count: 1;
  }

  #toggler-input:checked ~ nav {
      opacity: 1;
      transform: translate(0%, 0);
      border-radius: 0;
  }

  #toggler-input:checked ~ #toggler span:nth-child(1) {
      transform: translate(-50%, 0) rotate(45deg);
  }

  #toggler-input:checked ~ #toggler span:nth-child(3) {
      transform: translate(-50%, 0) rotate(-45deg);
  }

  #toggler-input:checked ~ #toggler span:nth-child(2) {
      display: none;
  }

  #toggler span {
      position: absolute;
      display: inline-block;
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background-color: #fff;
      box-shadow: 0 0 5px black;
      left: 50%;
      top: 50%;
      opacity: 50%;
  }

  #toggler-input:checked ~ #toggler>span {
      box-shadow: initial;
  }

  #toggler span:nth-child(1){
      transform: translate(-50%, -22px);
  }

  #toggler span:nth-child(2){
      transform: translate(-50%, -2px);
  }
  
  #toggler span:nth-child(3){
      transform: translate(-50%, 20px);
  }

  #toggler:active span {
      background-color: gray;
  }

  nav {
      z-index: 100;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      transform: translate(100%, 0) scale(0);
      transform-origin: right top;
      transition: all .3s ease-in-out;
      opacity: 0;
      border-radius: 100vh;
  }

  .nav__link {
      display: block;
      width: 100%;
      padding: 10px 0;
      font-weight: 700;
      font-size: 24px;
  }
  .nav__link:last-of-type {
    margin-bottom: 35vw;
}
}